<template>
  <card title="Daftar Pegawai">
      <div style="display: flex; justify-content: space-between;">
     Terdapat {{ count }} data pegawai
      <router-link to="/employee/create" class="btn btn-info">
        Tambah Pegawai
      </router-link>
      </div>
    <div class="row">
        <div class="col-sm-6" v-for="employee in employees" :key="employee.id">
            <div class="list list-row block">
                <div class="list-item" data-id="19">
                    <div>
                        <a href="#" data-abc="true">
                            <!-- slice agar inisial mengambil dari nama -->
                            <span class="w-48 avatar gd-warning">{{employee.name.slice(0, 1)}}</span>
                        </a>
                    </div>
                    <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">{{employee.name}}</a>
                        <div class="item-except text-muted text-sm h-1x">{{employee.job_title}}</div>
                    </div>
                    <div class="no-wrap">
                        <div class="item-date text-muted text-sm d-none d-md-block">{{employee.date_of_birth}}</div>
                    </div>
                    <router-link :to="'/employee/update/' + employee.id">
                        <fa icon="edit" fixed-width />
                    </router-link>
                    <a @click="deleteData(employee)" href="#">
                        <fa icon="trash" fixed-width />
                    </a>
                </div>
            </div>
        </div>
    </div>
  </card>
</template>

<style scoped>
    .avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
    color: #fff;
    border: none;
    background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
    color: #fff;
    border: none;
    background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

@media (min-width:992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto
    }

    .page-sidenav {
        display: block !important
    }
}

.list {
    padding-left: 0;
    padding-right: 0
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}

.no-wrap {
    white-space: nowrap
}

.text-color {
    color: #5e676f
}

.text-gd {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent
}

.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.w-48 {
    width: 48px !important;
    height: 48px !important
}
</style>

<script>
import axios from "axios";
import Swal from 'sweetalert2'

export default {
    middleware: 'auth',
    // meta: {
    //     permission: 'employee.list',
    // },

    head () {
        return { title: "Daftar Pegawai" }
    },

    async asyncData(context) {
        let res = (await axios.get('employee')).data
        let employees = res.data
        let count = res.count

        return {
            employees,
            count
        }
    },

    methods: {
        async deleteData(employee) {
          let result = await Swal.fire({
                icon: 'warning',
                title: 'apakah anda ingin menghapus data ini?',
                text: 'Pegawai : ' + employee.name,
                reverseButtons: false,
                showCancelButton: true,
                confirmButtonText: 'Ya',
                cancelButtonText: 'Batal'
        })
        if (result.isConfirmed) {
            let res = (await axios.delete('employee/' + employee.id)
            // hapus data dan update count di front end saat data di hapus
            .then(res => {
                const idx = this.employees.indexOf(employee)
                this.employees.splice(idx, 1)
                this.count--
            })
            )
            Swal.fire({
                icon: 'success',
                title: 'Berhasil',
                text: 'Data berhasil di hapus',
                confirmButtonText: 'ok',
            })
            }
        }
    }
}
</script>
