<template>
  <card :title="$t('home')">
    <div>
      {{ $t('you_are_logged_in') }}
      <div class="cont">
      <router-link to="/profile" class="btn btn-info">
        Lihat profil saya
      </router-link>
       <router-link to="/employee" class="btn btn-info">
        Daftar Pegawai
      </router-link>
      </div>
    </div>
  </card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>

<style scoped>
  .cont {
    text-align: right;
  }
</style>